node_modules
*mm.*
*Mm.*
*Mm*
.vscode/
bin/
**/.factorypath
**/zzmm__/**
.classpath
.project
.settings
.gis-modules
.projectile
.dir-locals.el
.apt_generated
localstack/
application-local.yaml
**/dist/**
*.mongo-data/
*mongo-data/
target/
Dockerfile
.dockerignore
.gitignore
HELP.md
